* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/*general*/

/*header*/

header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 15vh;
  flex-direction: column;
  margin-top: 1em;
}

.logo-container {
  flex-basis: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.logo-container img {
  height: 100%;
}

.navigation-menu {
  flex-basis: 100%;
}

.navigation-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
}

.navigation-menu ul li {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  margin: 0em 0.5em;
  white-space: nowrap;
}

.navigation-menu ul li:hover {
  border-bottom: 2px solid;
}

.navigation-menu ul li a {
  text-decoration: none;
  color: rgb(108, 108, 108);
  font-weight: 500;
}

.search-container {
  display: none;
  flex-basis: 30%;
  margin: 0;
  justify-content: center;
  height: 100%;
  align-items: center;
  position: relative;
}

.search-container form {
  margin: 0;
}

.search-container input {
  border: 1px solid #333;
  background-color: #333;
  border-radius: 20px;
  height: 32%;
  color: white;
  outline: none;
  padding: 16px;
}

.fa-search {
  color: white;
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(-30%, -50%);
}

@media only screen and (min-width: 768px) {
  .search-container {
    display: flex;
  }
  .logo-container {
    flex-basis: 30%;
    justify-content: flex-start;
  }
  header {
    flex-direction: row;
  }
  .navigation-menu {
    flex-basis: 60%;
  }
  .navigation-menu {
    justify-content: flex-end;
  }

  .navigation-menu ul li {
    margin: 0em 1em;
  }
}

/*hero banner*/

/*image text overlay repeatable*/

.image-text-overlay {
  max-height: 500px;
  width: 100%;
}

.image-text-overlay img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.hero-text-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 72px;
}

.hero-title {
  font-size: 72px;
  font-weight: 700;
  /* display: block; */
  /* border: 2px solid red; */
  color: rgb(239, 158, 7);
  z-index: 9999999;
  text-transform: uppercase;
}

.hero-sub-title {
  font-size: 32px;
  font-weight: 500;
  color: #d3d3d3;
  text-transform: uppercase;
}

.hero-text-container button {
  padding: 8px;
  border-radius: 12px;
  background: #ccc;
  color: #444;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-text-container p {
  padding: 8px;
  color: rgb(239, 158, 7);

  font-weight: 400;
  font-size: 16px;
}

/*cards section */

.cards-body {
  display: flex;
  max-width: 1100px;
}

.card-item {
  width: 30%;
  max-width: 300px;
}

.card-image-container {
  width: 100%;
  height: 100%;
}
